[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.27.1"
flake8 = "==4.0.1"
isort = "==5.10.1"
brunette = "==0.2.4"

[scripts]
sort_imports = "isort ./src"
lint = "flake8 ./src"
format = "brunette ./src"

[requires]
python_version = "3.8"
